{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'morningreg/main.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function(){
        // Get current number of players signed up
        var players = jQuery("#currentPlayers li").length;
        // Create the HTML tag for the counter
        var playerCount = jQuery('<p id = "count">' + players + '</p>');
        jQuery("#playerCount").append(playerCount); 
    };
</script>
<div id="clubLogo">
    <img src="{% static 'morningreg/sportingclublogo-white.png' %}">
</div>
<div id="frame">
    <div id="header">
        <h3>Morning Basketball - {{ day.name }}</h3>
    </div>
    <form action="/reg/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    <div id="playerRoster">
        <div id="playerCount">
        </div>
        <div id="currentPlayers">
            {% if players %}
                {% for player in players %}
                    <ul>
                        <li>{{ player.name }}</li>
                    </ul>
                {% endfor %}
            {% else %}
            <p>No players have signed up yet.  Be the first!</p>
            {% endif %}
        </div>
    </div>
</div>
